<%= form_with model: avatar, class:"border-2 border-green-600 shadow p-2 mr-1 mb-1" do |form| %>
  <% if avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avatar.errors.count, "error") %> prohibited this avatar from being saved:</h2>
      <ul>
        <% avatar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field my-4">
    <%= form.label :name %>
    <br />
    <%= form.text_field :name %>
  </div>

  <div class="actions mb-4">
    <%= form.submit class:"p-2 bg-gray-800 text-white" %>
  </div>
<% end %>
