<p id="notice"><%= notice %></p>

<h1>Avatars</h1>
<div class="flex flex-wrap">
  <% @avatars.each do |avatar| %>
      <div class="border border-black p-1 m-1">
        <%= avatar.name %>
        <%= image_tag avatar.image_url %>
        <%= link_to 'Show', avatar %>
        <%= link_to 'Edit', edit_avatar_path(avatar) %>
        <%= link_to 'Destroy', avatar, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
   <% end %>
</div>

<br>

<%= link_to 'New Avatar', new_avatar_path %>
