<%= turbo_stream_from "avatars" %>

<h1 class="text-2xl font-bold my-8">
  Avatars (<%= render 'avatars/count' %>)
</h1>

<%= turbo_frame_tag "new_avatar" do%>
  <%= render 'new_link' %>
<% end %>

<div id="avatars" class="flex w-full flex-wrap my-8">
  <% @avatars.order(id: :desc).each do |avatar| %>
    <%= render avatar %>
  <% end %>
</div>
